.container {
    display: flex;
    align-items: center;
    height: 100vh;
    position: absolute;
    width: 80%;
    right: 0%;
}

.dev {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}