body {
  margin-top: 50px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181818;
  color: #fff;
  
}



::-webkit-scrollbar {
  width: 0.469vw;
  height: 0.469vw;
  background: #181818;
  border-radius: 0.391vw;
}

::-webkit-scrollbar-thumb {
  background: #eaeaea;
  border-radius: 0.391vw;
}

/* #222222 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.border-addproduct {
    border-bottom: 1px solid gray;
    width: 98%;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 8px;
}

.border-invisible {
    width: 98%;
    margin: 0 auto;
}


